/* @import "tailwindcss"; */

@layer theme, base, primereact, utilities;

@import "primereact/resources/themes/bootstrap4-light-blue/theme.css";

@import "tailwindcss/theme" layer(theme);
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

@theme {
  /* Colors */
  --color-purple-primary: #460555;
  --color-green-primary: #37f05a;

  /* Breakpoints */
  --breakpoint-xs: 35rem;
}